# Python / Django
__pycache__/
*.py[cod]
*$py.class
venv/
.env
db.sqlite3
media/

# Node / React
node_modules/
dist/
build/
.eslintcache
.stylelintcache

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/